* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: gray;
}

#input-expenses-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#input-expenses-container input {
    height: 50px;
    width: 300px;
}

#calender-container {
    display: flex;
}

#new-expenses-submit {
    background-color: yellow;
    width: 100%;
    text-align: center;
}

#new-expenses-submit:hover {
    background-color: blue;
}
